html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

h1 {
  padding-top: 80px;
  padding-bottom: 33px;

  font-family: "Inter", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.container {
  padding: 24px;
  margin: 0 auto;
  max-width: 594px;

  box-shadow: 0px 8px 35px 0px #00000029;
  border-radius: 4px;
}

.todo__head {
  display: flex;
  justify-content: space-evenly;
}

.todo__enter {
  min-width: 356px;
  padding: 9px 31px 8px 13px;

  border: 1px solid #ced4da;
  border-radius: 4px;
}

.todo__enter::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #54595e;
}

.todo__add {
  min-width: 166px;
  padding: 10px 8px 10px 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background-color: #272829;
  border-radius: 4px;
}

.todo__add:hover {
  opacity: 90%;
}

.todo__main {
  /* display: none; */
  padding-top: 24px;
}

.todo__main::before {
  display: block;
  content: "";
  margin-bottom: 32px;

  width: 100%;
  height: 1px;
  background-color: #dee2e6;
}

.main__task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 26px;
}

.task__text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #54595e;
}

.todo__foot {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.foot__delete-complete,
.foot__delete-all {
  padding: 10px 16px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;

  border-radius: 4px;
}

.foot__delete-complete:hover,
.foot__delete-all:hover {
  opacity: 90%;
}

.foot__delete-complete {
  background-color: #6c757d;
}

.foot__delete-all {
  background-color: #dc3545;
}
